.home {
  &__anim {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    &--second {
      width: 100%;
      .home__anim__line {
        height: 100vh;
        width: 100vw;
        transition: all .5s ease-in-out;
        background: #fff;
      }
    }
    &__line {
      background: rgba(white, .3);
      width: 0;
      height: 2px;
      animation: anim-line cubic-bezier(.45,1.04,.75,.97);
      animation-iteration-count: 1;
      animation-delay: .3s;
    }
  }
}

@keyframes anim-line {
  0% {
    width: 1px;
  }
  100% {
    width: 100vw;
  }
}

@keyframes anim-line {
  0% {
    width: 1px;
  }
  100% {
    width: 100vw;
  }
}
@keyframes anim-height {
  0% {
    height: 1px
  }
  100% {
    height: 100px;
  }
}